{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="gameContainer" style="z-index: -20; width: 100%; height: 100%; position: fixed; overflow: hidden"></div>

<div class="container">
  <header class="jumbotron" style="background-color:#A9F16C">
      <div class="row">
        <h1>It works!</h1>
        <p></p>
      </div>
  </header>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
